body{
    background-color: white;
}
.myHead{
    background-color: #003DA5;
    color: whitesmoke;
    text-align: center;
    margin-left: -30px;
    margin-bottom: 50px;
    padding: 20px;
    width: 103vw;
}
.myFooter{
    background-color: #003DA5;
    color: whitesmoke;
    text-align: center;
    margin-left: -30px;
    margin-top: 50px;
    padding: 20px;
    width: 103vw;
}
table, th, td {
    border: 1px solid black;
    background-color: white;
    margin-bottom: 10px;
}
.holeTable{
    width: 100%;
}
.holeDiv{
    min-height: 250px;
    background-color: rgba(0, 85, 150, 0.18);
    margin-bottom: 20px;
    border: 1.5px solid rgba(153,153,153,0.5);
    visibility: hidden;
}
.smImg{
    max-width: 30px;
}